html, body {
  margin: 0;
  padding: 0;
}

/* canvas {
  display: block;
} */

.mid-container {
  display: flex;
}

.box-container {
  flex: 0 0 65%;
  padding-left: 5rem;
  padding-right: 5rem;
  margin-left: 5rem;
  margin-right: 5rem;
  display: grid;
  grid-template-columns: repeat(5, 1fr);
  grid-template-rows: repeat(2, 1fr);
  grid-gap: 0.5rem;
  float: left;
  
}

.box-item {
  background-color: rgba(255, 255, 255, 0.8);
  border: 2px solid rgba(0, 0, 0, 0.8);
  border-radius: 10px;
  width: 10vw;
  height: 10vh;
  padding: 0.5vw;
  font-size: 30px;
  text-align: center;
}

.iterate-container {
  flex: 1;
  border: 2px solid rgba(0, 0, 0, 0.8);
  border-radius: 10px;
  height: 50vh;
}


.active {
  background-color: rgba(255, 149, 0, 0.8);
  border: 1px dotted rgba(0, 0, 0, 0.8);
  border-radius: 10px;
  width: 10vw;
  height: 10vh;
  padding: 0.5vw;
  font-size: 30px;
  text-align: center;
}

.correct {
  background-color: rgba(0, 255, 0, 0.8);
  border: 1px dotted rgba(0, 0, 0, 0.8);
  border-radius: 10px;
  width: 10vw;
  height: 10vh;
  padding: 0.5vw;
  font-size: 30px;
  text-align: center;
}

.start-button {
  background-color: rgba(52, 89, 255, 0.8);
  border: 1px solid rgba(0, 0, 0, 0.8);
  border-radius: 10px;
  width: 5vw;
  height: 5vh;
  padding: 0.5vw;
  font-size: 20px;
  text-align: center;
}

.reset-button {
  background-color: rgba(255, 0, 0, 0.8);
  border: 1px solid rgba(0, 0, 0, 0.8);
  border-radius: 10px;
  width: 5vw;
  height: 5vh;
  padding: 0.5vw;
  font-size: 20px;
  text-align: center;
}
